@font-face {
    font-family: "inter";
    src: url("../public/fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "kaisei";
    src: url("../public/fonts/Kaisei_Opti/KaiseiOpti-Regular.ttf");
}

@font-face {
    font-family: "assistant";
    src: url("../public/fonts/Assistant/static/Assistant-Regular.ttf");
}


:root {
    /* PADDING */
    --padding-xxxl : 128px;
    --padding-xxl : 60px;
    --padding-xl : 50px;
    --padding-l : 40px;
    --padding-m : 30px;
    --padding-s : 20px;
    --padding-xs : 10px; 

    /* MARGIN */
    --margin-xxxl : 245px;
    --margin-xxl : 120px;
    --margin-xl : 50px;
    --margin-l : 40px;
    --margin-m : 30px;
    --margin-s : 20px;
    --margin-xs : 10px; 

    /* FONT_SIZE */
    --fs-xxl : 80px;
    --fs-xl : 60px;
    --fs-l : 42px;
    --fs-m : 20px;
    --fs-s : 18px;
    --fs-xs : 16px; 

    /* FONT_FAMILY */
    --ff-inter : 'inter';
    --ff-assistant : 'assistant';
    --ff-kaisei : 'kaisei';

    /* TEXT_COLOR */
    --primary-text-color : rgba(255, 255, 255, 1);
    --secondary-text-color : rgba(217, 217, 217, 1) ;
    
    /* BACKGROUND */
    --primary-bg :  #101010;
    --secondary-bg : rgba(223, 223, 223, 1);
    --thrid-bg : rgba(56, 56, 56, 1);
}