* {
    padding: 0px;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    float: right;
    margin-top: 25px;
}

.nav-link {
    margin-right: 10px;
}

#app {
    background: rgb(198, 191, 198);
    height: 100vh;
}

.header {
    padding: 8px;
    background: rgb(125, 144, 151);
    color: aliceblue;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.main {
    height: 81vh;
}


.image {
    width: 500px;
    float: left;
    padding: 20px;
}

.main-text {
    margin: 10px;
}

.main-paragraph {
    margin-top: 10px;
}

.main-title {
    padding: 5px;
}

.iframe {
    width: 100vh;
    height: 60vh;
}

.footer {
    text-align: center;
    background: rgb(125, 144, 151);
}