@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;     
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

#app {
    font-family: "montserrat";
    display: flex;
    flex-direction: column;
    background: linear-gradient(gray , rgb(80, 57, 44));
    
}

.cointainer {
    display: flex;
}

.img-wrapper {
    display: flex;
    width: 30%;
}

.img {
    width: 8rem;
    margin-left: 2rem;
    
}

.header {
    padding: .6rem;
    display: flex;
    background: rgb(187, 17, 17);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    width: 19%;
    padding: 2rem;
    justify-content: space-between;
    text-transform: uppercase;
}

.main {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-ass_title-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-family:"roboto";
}   

.about-ass_img-wrapper {
    width: 80%;
}

.about-ass__img {
    width: 100%;
    padding: .1rem;
    margin-top: 6rem;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 7rem;
    padding: 1rem;
    justify-content: space-between;
    background: rgb(187, 23, 23);
}




